.root {
-fx-background-image:url('back_2.jpg');
-fx-background-size:cover;
}
.button{
     -fx-background-color: linear-gradient(#A68A73,#151C26);
     -fx-background-radius: 25;
     -fx-font-weight: bold;
 }
 .pane{
    -fx-background-color: linear-gradient(#0C4F8C, #476589);
 }