/* Upload */
#drop-area {
  border: 2px dashed #ccc;
  width: 70%;
  margin: 15px auto;
  padding-top: 20px;
  text-align: center;
  border-radius: 4px;
  overflow: auto;
}

#drop-area.highlight {
  background-color: #F9F9FA;
}


.button {
  display: inline-block;
  padding: 8px 14px;
  color: #30a1ff;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid #30a1ff;
  margin-bottom: 10px;
}

.button:hover {
  background: #30a1ff;
  color: white;
}

#uploadGallery {
  margin-top: 10px;
}

#uploadedImage {
  display: inline-block;
  position: relative;
  margin-bottom: 10px;
  margin-right: 10px;
  vertical-align: middle;
}

#top-left {
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 35px;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.85);
  color: #dddddd;
}

/* Top right text */
#top-right {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  font-size: 20px;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.85);
  color: #dddddd;
}

#uploadGallery img {
  width: 150px;
  vertical-align: middle;
  transition: all .2s ease-in-out;
}

#uploadGallery img:hover {
  opacity: 0.3;
  transform: scale(1.1);
}

#fileElem {
  display: none;
}

#speedValue {
  margin-left: 30px;
}

/* ROOM FORM STYLES */

#floorSelect {
  font-size: medium;
  width: 30%;

  transition: font-size 0.2s ease-in-out;
}
#floorSelect:hover{
  font-size: large;
}

#floorSelectRemove {
  font-size: medium;
  width: 30%;

  transition: font-size 0.2s ease-in-out;
}
#floorSelectRemove:hover{
  font-size: large;
}

#newRoomField{
  resize: none;
  width: 30%;
  height: auto;

  transition: width 0.4s ease-in-out;

}
#newRoomField:focus{
  width: 50%;
}


#roomManagerPortal{
  float: right;
}
#floorAdd{
  float: left;
}
#floorManager{
  float: right;
}
#newRoomAdd{
  float: left;
}

.room-display{
  width: 40%;
  text-align: left;
  padding: 10px;
  margin: 2% 2%;
  background-color: #30a1ff;
  border-radius: 5px;
  color: white;
}

/* Kiosk CSS */

#departmentSearchKiosk{
    position: fixed;
    right:0;
    width: 20%;
    height: 100%;
    padding: 10px;
}
#departmentManagerKiosk{
  float: left;
  text-align: center;
  width: 72.5%;
}
.content-display{
  width: 40%;
  text-align: left;
  padding: 10px;
  margin: 2% 2%;
  border-radius: 5px;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.4);
}
.content-search{
  width: 40%;
  text-align: left;
  background-color: white;
  padding: 10px;
  border-left: 2px solid #dddddd;
}

.searchInput{
  border: none;
  background-color: #dddddd;
  border-radius: 4px;
  padding: 7px;
  width: 95%;
}

.floor-display{
  width: 100%;
  text-align: left;
  padding: 10px;
  border-radius: 10px;
  color: black;
}

.floor-image{
  left: 0;
  width: 100%;
  height: auto%;
}
.room-display-kiosk{
  width: 20%;
  padding: 10px;
  margin: 2% 2%;
  text-align: left;
  background-color: #30a1ff;
  border-radius: 5px;
  color: white;
}
