/* WWU Banner */
body {
  font-family: 'Roboto Slab', serif;
  margin: 0; 
  height: 100%; 
  overflow: hidden;
  background-color: #2364AA;
  text-align: center;
}

.poll-response {
  font-family: 'Roboto Slab', serif;
  text-align: center;
  visibility: hidden;
  color: white;
}
.responseText{
  margin: 130px 20px;
  font-size: 55px;
  width: 45%;
  display: inline-block;
}
#CurrentResponse1{
  float: left;
}
#CurrentResponse2{
  float: right;
}
.responseBar{
  text-align: center;
}
#response1Bar{
  float: left;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#response2Bar{
  float: right;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.barWrapper{
  float: center;
}

.poll-input {
  font-family: 'Roboto Slab', serif;
  text-align: center;
}

.question {
  font-size: 75px;
  color: white;
}

.button {
  background-color: #226CE0;
  border: none;
  color: white;
  font-family: 'Roboto Slab', serif;
  text-align: center;
  width: 47%;
  padding: 17% 3%;
  text-decoration: none;
  display: inline-block;
  font-size: 75px;
  margin: 4px 2px;
  border-radius: 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.button:hover {
  background-color: rgb(65, 87, 105);
  font-size: 65px;
}

