.pollForm{
  border: none;
  background-color: #dddddd;
  border-radius: 4px;
  padding: 5px;
  margin: 2% 5%;

  width: 30%;
  transition: width 0.4s ease-in-out;
}

.pollForm:focus{
  width: 50%;
}
