/* WWU Banner */
body {
  font-family: 'Roboto Slab', serif;
  margin: 0; 
  height: 100%; 
  overflow: hidden;
  background-color: #2364AA;
  text-align: center;
  opacity: 1;
  transition: 1s opacity;
}

body.fade-in {
    opacity: 0;
    transition: none;
}

body.fade-out {
  opacity: 0;
  transition: 1s opacity;
}

.poll-response {
  font-family: 'Roboto Slab', serif;
  text-align: center;
  visibility: hidden;
  color: white;
}
.responseText{
  margin: 5% 0px;
  font-size: 55px;
}
#CurrentResponse1{
  position: fixed;
  left: 16%;
}
#CurrentResponse2{
  position: fixed;
  right: 11%;
}
.responseBar{
  width: 15%;
  text-align: center;
  border-radius: 5%;
}
#response1Bar{
  position: absolute;
  bottom: 0px;
  left:15%;
  margin: 0 auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#response2Bar{
  position: absolute;
  bottom: 0px;
  right: 15%;
  margin: 0 auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.barWrapper{
}

.poll-input {
  font-family: 'Roboto Slab', serif;
  text-align: center;
}

.question {
  font-size: 75px;
  color: white;
}

.button {
  background-color: #226CE0;
  border: none;
  color: white;
  font-family: 'Roboto Slab', serif;
  text-align: center;
  width: 47%;
  padding: 17% 3%;
  text-decoration: none;
  display: inline-block;
  font-size: 75px;
  margin: 4px 2px;
  border-radius: 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.button:hover {
  background-color: rgb(65, 87, 105);
  font-size: 65px;
}

