
/* WWU Banner */
body {
  font-family: sans-serif;
  margin: 0;
  background-color: white;
}
div.banner {
  width: 100%;
  height: 40px;
  background-color: #FFFF;
}
div.wwu {
width: auto;
display: inline-block;
}
div.wwu img {
  margin-left: 5px;
  margin-top: -5px;
  width: 20%;
  height: auto;
}
div.upload {
  margin: 10px;
}
hr.hr1 {
  border-top: 4px solid #0096D6;
  padding: 0;
  margin-top: 0;
}
hr.hr2 {
  border-top: 1px solid #ccc;
}


/* Settings */
div.settings {
  position: absolute;
  right: 10px;
}
div.settings img {
  width: 30px;
  height: auto;
  filter: brightness(150%);
}
.settings img:hover {
  filter: brightness(100%);
}
.sidenav {
  background-color: #F9F9FA;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  margin-top: 4px;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  border-radius: 5px;
  -webkit-box-shadow: -2px 5px 8px 3px rgba(189,189,189,0.60);
  -moz-box-shadow: -2px 5px 8px 3px rgba(189,189,189,0.60);
  box-shadow: -2px 5px 8px 3px rgba(189,189,189,0.60);
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 15px;
  color: black;
  display: block;
  transition: 0.3s;
}
#speedValue {
  margin-left: 30px;
}
.setting-update {
  margin-left: 30px;
}
.dropdown-btn {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 15px;
  color: black;
  border: none;
  display: block;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}
.sidenav a:hover, .dropdown-btn:hover {
  background-color: #30a1ff;
  color: white;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.sidenav .closebtn:hover {
  background-color: #F9F9FA;
  color: #ccc;
}
.active {
    background-color: #30a1ff;
    color: white;
}
.dropdown-container {
    display: none;
    background-color: #F9F9FA;
    padding-left: 8px;
}


/* Module Buttons */
.button_grp {
    margin: 10px auto;
    text-align: center;
    margin-bottom: 0;
}
.module {
  display: inline-block;
  width: 140px;
  height: 140px;
  font-size: 20px;
  text-align: center;
  margin: 25px;
  border-radius: 4px;
  border: none;
  background-color: #F5F5F5;
}

/* Upload */
#drop-area {
    border: 2px dashed #ccc;
    width: 70%;
    margin: 15px auto;
    padding-top: 20px;
    text-align: center;
    border-radius: 4px;
    overflow: auto;
}
#drop-area.highlight {
    background-color: #F9F9FA;
}
p {
  color: #8d9496;
  align-self: center;
  font-weight: bold;
}
.button {
    display: inline-block;
    padding: 8px 14px;
    color: #30a1ff;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid #30a1ff;
    margin-bottom: 10px;
}
.button:hover {
    background: #30a1ff;
    color: white;
}
#uploadGallery {
  margin-top: 10px;
}

#uploadedImage {
  display: inline-block;
  position: relative;
  margin-bottom: 10px;
  margin-right: 10px;
  vertical-align: middle;
}
@supports (-webkit-text-stroke: 1px black) {
  #top-left {
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 35px;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.55);
    -webkit-text-fill-color: #f1f1f1;
  }

  /* Top right text */
  #top-right {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    font-size: 20px;
    text-shadow: 0 1px 5px rgba(0, 0, 0, 0.55);
    -webkit-text-fill-color: #f1f1f1;
  }
}
#uploadGallery img {
    width: 150px;
    vertical-align: middle;
    transition: all .2s ease-in-out;
}
#uploadGallery img:hover {
    opacity: 0.3;
    transform: scale(1.1);
}

#fileElem {
    display: none;
}

.submitButton {
  display:inline-block;
  padding: 12px 10px;
  border: none;
  border-radius: 15px;
  box-sizing: border-box;
  color:#FFFFFF;
  background-color: #30a1ff;
  text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
  text-align:center;
  box-shadow: 0px 0px 0px rgb(196, 196, 196);
  transition: all 0.4s;
}
.submitButton:hover{
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.404);
  padding: 15px 12px;

}